*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #222222;
    
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav {
    font-size: 10pt;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #ff6404;
}
.nav-header{
    font-family: Verdana, Geneva, sans-serif;
    color: #222222;
    line-height: 12px;
    border-left: 1px solid #000;
    padding: 10px 10px 10px 10px;
}
.container section nav .nav-header a:nth-child(1){
    margin: 3px;
    border: none;
    padding-right: 10px;
}
.container section nav .nav-header:nth-child(2){
    border: none;
}
.container section nav .nav-header:nth-child(10){
    padding-left: 7.813rem;
    border: none;
}

section {
    height: 100%;
    background: #f6f6ef;
}
article{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    word-break: break-word;
}
img {
    margin-left: 5px;
    border: 1px solid #fff;
    width: 20px;
    height: 20px;
}